Source: eynioconnect
Section: net
Priority: extra
Maintainer: Eynio builder <info@eynio.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://eynio.com/

Package: eynioconnect
Architecture: all
Depends: ${misc:Depends}, nodejs (>= 4.1.0)
Description: Eynio Connect
